<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/index.html">Introduction to databases and SQL</a></td> </tr>
      <tr> <td>9:15</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/01-select.html">Selecting Data</a></td> </tr>
      <tr> <td>9:30</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/02-sort-dup.html">Sorting and Removing Duplicates</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/03-filter.html">Filtering</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning Break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/04-calc.html">Calculating New Values</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/05-null.html">Missing Data</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/06-agg.html">Aggregation</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/07-join.html">Combining Data</a></td> </tr>
      <tr> <td>14:15</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/instructor/08-hygiene.html">Data Hygiene</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/09-create.html">Creating and Modifying Data</a></td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/sql-novice-survey/instructor/10-prog.html">Programming with Databases in R/Python</a></td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
